{% extends "base.html" %}
{% block title %}Agendamento{% endblock %}

{% block content %}
{% include "components/head-banner.html" %}
<div class="d-flex justify-content-center">
  <div class="col-md-10 p-5">
    <div class="d-flex flex-wrap justify-content-center">
      {% include "components/form-scheduling.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts_bottom %}
<script src="https://unpkg.com/imask"></script>
<script src="{{ url_for('static', filename='js/mask_scheduling.js') }}"></script>
{% endblock %}
