<div class="d-flex flex-row flex-wrap justify-content-center">
  <a href="{{ url_for('views.scheduling') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/clock.svg') }}" class="icon">
    <span>Agendar</span>
  </a>
  <a href="{{ url_for('views.calendar') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/calendar.svg') }}" class="icon">
    <span>Calendário</span>
  </a>
  {% if context["history"]|length > 0 %}
  <a href="{{ url_for('views.history') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/history.svg') }}" class="icon">
    <span>Histórico</span>
  </a>
  {% endif %}
  {% if context["view_schedule"]|length > 0 %}
  <a href="{{ url_for('views.schedule_view') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/eye.svg') }}" class="icon">
    <span>Visualizar</span>
  </a>
  {% endif %}
  {% if context["not_confirmed"]|length > 0 %}
  <a href="{{ url_for('views.schedule_check') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/calendar-check.svg') }}" class="icon">
    <span>Confirmar</span>
  </a>
  {% endif %}
  {% if context["scheduled"]|length > 0 %}
  <a href="{{ url_for('views.schedule_cancel') }}" class="btn btn-square bg-primary m-2">
    <img src="{{ url_for('static', filename='images/icons/x-circle.svg') }}" class="icon">
    <span>Cancelar</span>
  </a>
  {% endif %}
</div>