<footer class="d-flex flex-row py-5">
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-9 col-md-8 col-lg-6">
        <p class="text-center text-muted">
          Este sistema foi criado para o trabalho de conclusão da
          <strong>Faculde Alcides Maya Tecnologia</strong>.
          <br>Autor <strong>Lucas da Silva Pereira</strong>.
          <br><small>Contato: lucas.pereira.244@gmail.com</small>
        </p>
      </div>
    </div>
  </div>
</footer>
