<div class="col-10 col-sm-6 col-lg-5 col-xl-4 col-xxl-3 py-md-4">
  <form class="form" action="{{ url_for('views.suggestion') }}" method="POST">
    <div class="row form-group pt-3">
      <label for="suggestion" class="px-0">
        Sugestão
      </label>
      <div class="col-12 input-group-lg p-1">
        <textarea name="suggestion" id="suggestion" class="form-control px-2"></textarea>
      </div>
    </div>

    <div class="d-flex justify-content-around pt-3">
      <a href="{{ url_for('views.home') }}" class="btn btn-warning btn-lg px-2 px-md-auto m-0">
        <span class="text-light">Inicio</span>
        <img src="{{ url_for('static', filename='images/icons/home.svg') }}" class="icon-row"></i>
      </a>
      <button type="submit" class="btn btn-primary btn-lg px-auto m-0">
        <span>Enviar</span>
        <img src="{{ url_for('static', filename='images/icons/chat.svg') }}" class="icon-row">
      </button>
    </div>
  </form>
</div>
