<div class="row justify-content-center py-md-4">
  <div class="col-9 col-md-8 col-lg-6 py-md-4">
    <form class="form" method="POST" action="{{ url_for('views.account_create') }}">
      {{ context['form'].csrf_token }}
      {% for form in context['form'] %}
        {% if 'csrf_token' != form.name %}
          <div class="form-group input-group-lg pt-2 pt-md-3">
            {{ form.label }}
            {{ form }}
          </div>
          {% if form.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              <ul class="errors">
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-primary btn-lg my-2 mx-3">
          Cadastrar
          <img src="{{ url_for('static', filename='images/icons/floppy-disk.svg') }}" class="icon-account">
        </button>
      </div>
    </form>
  </div>
</div>
