<div class="row justify-content-center py-md-4">
  <div class="col-9 col-md-8 col-lg-6 py-md-4">
    <form class="form" action="{{ url_for('views.login') }}" method="POST">
      {{ context['form'].csrf_token }}
      {% for form in context['form'] %}
        {% if 'csrf_token' != form.name %}
        <div class="form-group input-group-lg">
          {{ form.label }}
          {{ form }}
        </div>
        {% endif %}
      {% endfor %}
      <div class="d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-primary btn-lg my-2 mx-3">
          Entrar
          <img src="{{ url_for('static', filename='images/icons/login.svg') }}" class="icon-account">
        </button>
      </div>
      <div class="col-12 text-center pt-3">
        <a href="{{ url_for('views.account_create') }}">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
