<div class="row justify-content-center py-md-4">
  <div class="col-10 col-sm-6 col-lg-5 col-xl-4 col-xxl-3 py-md-4">
    <form class="form" action="{{ url_for('views.reschedule') }}" method="POST">
      <div class="row form-group input-group-lg">
        <label for="hour" class="px-0">
          Hora de Agendamento
        </label>

        <div class="col-3 col-xs-4 input-group-lg p-1">
          <input type="text" name="hour" id="hour" class="form-control px-2" placeholder="18">
        </div>
        <div class="col-3 col-xs-4 input-group-lg p-1">
          <input type="text" name="minute" id="minute" class="form-control px-2" placeholder="30">
        </div>
      </div>

      <div class="row form-group pt-3">
        <label for="day" class="px-0">
          Data de Agendamento
        </label>

        <div class="col-3 input-group-lg p-1">
          <input type="text" name="day" id="day" class="form-control px-2" placeholder="20">
        </div>

        <div class="col-3 input-group-lg p-1">
          <input type="text" name="month" id="month" class="form-control px-2" placeholder="12">
        </div>

        <div class="col-5 input-group-lg p-1">
          <input type="text" name="year" id="year" class="form-control px-2" placeholder="2021">
        </div>
      </div>

      <div class="row form-group pt-3">
        <label for="note" class="px-0">
          Observações
        </label>
        <div class="col-12 input-group-lg p-1">
          <textarea name="note" id="note" class="form-control px-2"></textarea>
        </div>
      </div>

      <div class="d-flex justify-content-around pt-3">
        <a href="{{ url_for('views.home') }}" class="btn btn-warning btn-lg px-2 px-md-auto m-0">
          <span class="text-light">Inicio</span>
          <img src="{{ url_for('static', filename='images/icons/home.svg') }}" class="icon-row"></i>
        </a>
        <a href="{{ url_for('views.reschedule') }}" class="btn btn-primary btn-lg px-2 px-md-auto m-0">
          <span class="text-light">Regendar</span>
          <img src="{{ url_for('static', filename='images/icons/clock.svg') }}" class="icon-row">
        </a>
      </div>
    </form>
  </div>
</div>
