<div class="row justify-content-center py-md-4">
  <div class="col-9 col-md-8 col-lg-6 py-md-4">
    <form class="form" method="POST" action="{{ url_for('views.login') }}">
      <div class="form-group input-group-lg">
        <label for="email">
          Email
        </label>
        <input type="email" name="email" id="email" class="form-control">
      </div>

      <div class="form-group input-group-lg pt-3">
        <label for="password">
          Senha
        </label>
        <input type="password" name="password" id="password" class="form-control">
      </div>

      <div class="btn-group-lg d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-primary btn-sm my-2 mx-3">
          Entrar
        </button>
      </div>
      <div class="col-12 text-center pt-3">
        <a href="{{ url_for('views.account_create') }}">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
