<div class="modal" id="modal-schedules" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="col-8 text-center" id="date-picked"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-tabs align-items-end" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-09-tab" data-bs-toggle="pill" data-bs-target="#v-pills-09" type="button" role="tab" aria-controls="v-pills-09" aria-selected="true">09:00</button>
            <button class="nav-link" id="v-pills-10-tab" data-bs-toggle="pill" data-bs-target="#v-pills-10" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">10:00</button>
            <button class="nav-link" id="v-pills-11-tab" data-bs-toggle="pill" data-bs-target="#v-pills-11" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">11:00</button>
            <button class="nav-link" id="v-pills-13-tab" data-bs-toggle="pill" data-bs-target="#v-pills-13" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">13:00</button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-09" role="tabpanel" aria-labelledby="v-pills-09-tab">
              Fulano
            </div>
            <div class="tab-pane fade" id="v-pills-10" role="tabpanel" aria-labelledby="v-pills-10-tab">
              Ciclano
            </div>
            <div class="tab-pane fade" id="v-pills-11" role="tabpanel" aria-labelledby="v-pills-11-tab">
              Chico
            </div>
            <div class="tab-pane fade" id="v-pills-13" role="tabpanel" aria-labelledby="v-pills-13-tab">
              Chicó
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="col-12 d-flex flex-nowrap justify-content-around">
          <div class="mb-3">
            <button type="button" class="btn btn-warning btn-lg px-auto m-0" data-bs-dismiss="modal">
              <span class="text-light">Voltar</span>
              <img src="{{ url_for('static', filename='images/icons/back-arrow.svg') }}" class="icon-row"></i>
            </button>
          </div>
          <form action="{{ url_for('views.schedule_check') }}" method="POST">
            <input type="hidden" name="id" value="{{ '11' }}">
            <button type="submit"  class="btn btn-success btn-lg px-auto m-0">
              <span class="text-light">Confirmar</span>
              <img src="{{ url_for('static', filename='images/icons/clock-check.svg') }}" class="icon-row"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#hour-tab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
