<div class="modal" id="view-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar Último Agendamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-wrap">
          {% for schedule in context["view_schedule"] %}
          <span class="px-0 pb-1">
            Status
          </span>
          <div class="col-12 rounded bg-info text-center p-2 mb-2">
            <span class="px-0">{{ schedule["status"] }}</span>
          </div>
          <span class="px-0 pb-1">
            Data
          </span>
          <div class="col-12 rounded bg-info text-center p-2 mb-2">
            <span class="px-0">{{ schedule["date"] }}</span>
          </div>
          <span class="px-0 pb-1">
            Hora
          </span>
          <div class="col-12 rounded bg-info text-center p-2 mb-2">
            <span class="px-0">{{ schedule["hour"] }}</span>
          </div>
          <span class="px-0 pb-1">
            Observações
          </span>
          <div class="col-12 rounded bg-info text-center p-2">
            <span class="px-0">{{ schedule["note"] }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12 d-flex flex-nowrap justify-content-around">
          <div class="mb-3">
            <button type="button" class="btn btn-warning btn-lg px-auto m-0" data-bs-dismiss="modal">
              <span class="text-light">Voltar</span>
              <img src="{{ url_for('static', filename='images/icons/back-arrow.svg') }}" class="icon-row"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
