<div class="modal" id="history-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Histórico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-wrap">
          <span class="px-0">
            Últimos Agendamentos
          </span>
          <div class="col-12 rounded bg-info text-center p-2 mt-2">
            {{ "05-12-2021 18:25 (Exemplo)" }}
          </div>
          <div class="col-12 rounded bg-info text-center p-2 mt-2">
            {{ "15-01-2021 14:30 (Exemplo)" }}
          </div>
          <div class="col-12 rounded bg-info text-center p-2 mt-2">
            {{ "20-12-2020 18:00 (Exemplo)" }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12 d-flex flex-nowrap justify-content-center">
          <button type="button" class="btn btn-warning btn-lg px-auto m-0" data-bs-dismiss="modal">
            <span class="text-light">Voltar</span>
            <img src="{{ url_for('static', filename='images/icons/back-arrow.svg') }}" class="icon-row"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
